*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: 62.5%;
}

#Login-Scope{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #041620;
    color: white;
}

#login-form-scope{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

#login-title{
    font-size: 50pt;
}

#login-input-scope{
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

#login-btn{
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041620;
    border: 1px solid black;
    color: white;
    font-size: 14pt;
}

#login-btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.login-input{
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: 1px solid black;
    font-size: 14pt;
    text-indent: 10px;
    border-radius: 5px;
    color: white;
}


@media screen and (max-width: 500px) {

span{
    color: #5cb351;
}

#Login-Scope{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #041620;
    color: white;
}


#login-form-scope{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#login-title-scope{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#login-title{
    font-size: 50pt;
}

#login-input-scope{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

#login-btn{
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041620;
    border: 1px solid black;
}

#login-btn:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: ghostwhite;
}

.login-input{
    font-size: 14pt;
    width: 80%;
    height: 3rem;
    background-color: transparent;
    border: 1px solid black;
    text-indent: 10px;
    border-radius: 5px;
    color: white;
}


}